body
{
  background-color: #66ffd9;
}
h1,h2 {
  animation-duration: 3s;
  animation-name: slidein;
}
@keyframes slidein {
  from {
    margin-left: 100%;
    width: 500%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

#wrapper{
  column-count: 3
  display:inline-block;
  float:left;
}
#leftImage
{
  float: left;
  padding: 10px;
}
#rightImage
{
  float: right;
  padding: 10px;
}
#centerImage
{
  display: inline-block;
  padding: 10px;
}
ul
{
  font-size: 16px;
}
li{
  font-family: "Ar Berkley";
  font-size: 1.5em;
}
